        body{
			width: 100%;
			height: 100%;
		}
		#pape-wraper{
			background: black;
			background: #202b35;
			width: 100%;
			height: 100%;
		}
		#header{
			width: 100%;
			height: 89px;
		}
		#tbody{
			width: 100%;
			height: 70%;
			background: #202c3c;
		}
		.container{
			width: 80%;
			height: 1579px;
			background: #181c24;
			margin: 0 auto;
		}
		.chinh{
			position: relative;
		    height: 600px;
		    width: 102%;
   			 margin-left: -10px;
		}
		.carousel {
	    position: relative;
	    width: 100%;
	    height: 100%;
	}
    	.carousel-item img{
    		width: 100%;
    		height: 100%;
    	}
		.carousel-inner {
	    position: relative;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;}
		.phu{ 
		display: block;
	    margin-top: 5px;
		position: absolute;
		 width: 80%;
	 	 margin-left: -10px;
		  height: 800px;
		}
		.dong3{
		width:100%;
		height: 231px;
		margin-bottom:10px;
		margin-top:5px;
		background: black;
		}
		.dong4{
		width:100%;
		height: 231px;
		margin-bottom:10px;
		margin-top:5px;
		background: black;
		}
		.dong2{
		width:100%;
		 height: 231px;
		margin-bottom:10px;
		margin-top: 3px;
		background: black;

		}
		.dong1{
		width:100%;
		height: 231px;
		margin-bottom:10px;
		margin-top:10px;
		background: black;
		}
		.cot1{
		border:1px solid #CCCCCC;
		width:304px;
		height: 231px;
		float:left;
		}
		img{
	 	 width: 287px;
	 	height: 222px;
		border:1px dotted #CFE3FA;
		transition: 0.5s;
		}
		img:hover{
		transform: rotate(0deg) scale(1.06);
   	    opacity: 0.5;
		}
		.dong11{
		margin:2px;
		text-align:center;
		margin-top:5px;
		width: 100%;
		height: 167px;

		}
		.lentren{
		border: 1px solid black;
	    background: #80391e;
	    color: white;
	    z-index: 1;
	    margin-left: 10px;
	    position: absolute;
	    margin-top: -220px;
		}
		.dong12{
		background: black;
	    text-align: center;
	    width: 100%;
	    position: relative;
	    z-index: 1;
	    height: 53px;
	    color: white;
	    margin-top: 10px;
	    opacity: 0.5;
	    font-size: 21px;
		}
		.dong13{
		color: white;
	    width: 100%;
	    text-align: center;
	    position: relative;
	    z-index: 1;
	    opacity: 0.5;
	    margin-top: -30px;
		}
		.cot2{
		border:1px solid #CCCCCC;
		width:303px;
		height: 231px;
		float:left;

		}
		.cot3{
		border:1px solid #CCCCCC;
		width:303px;
		height: 231px;
		float:left;

		}
		.cot4{
		border:1px solid #CCCCCC;
		width: 304px;
   		height: 231px;
		float:left;

		}
		/* #footer{
		  	width: 100%;
		  	height:  200px;
		  	border: 1px solid white;
		  	background: white;
		  } */
		  .recent-posts .post-author-avatar img {
			width: 100%;
			width: 40px;
			height: 40px;
			height: auto;
			-webkit-border-radius: 50% 50% 50% 50%;
			-moz-border-radius: 50% 50% 50% 50%;
			-ms-border-radius: 50% 50% 50% 50%;
			border-radius: 50% 50% 50% 50%;
			-moz-transition: all 0.25s ease 0s;
			-o-transition: all 0.25s ease 0s;
			-webkit-transition: all 0.25s ease 0s;
			-ms-transition: all 0.25s ease 0s;
			transition: all 0.25s ease 0s;
		  }
	    .start{
		  	margin-left: 500px;
		  }
		  ul li{
		  	list-style: none;
		  	display: inline-block;
		  }
		  .p{
		  	text-align: center;
		  }
		  table{
		  	width: 700px;
		  	padding: 20px;
		  }
		  tr td{
		  	padding:  10px;
		  	font-family: "Times New Roman", Times, serif;
		  	font-size: 15px;
		  }
		.header-heat{
			background-color: #202c3c;
			width: 100%;
			height: 70px;
			display: block;
		}
		.header-inner{
			display: inline-block;
			width: 100%;
			height: 48px;
			background: #2B2E30;
		}
		logo{
			margin-left: 20px;
		}
		a{
			color: white;
			width: 120px;
			padding: 9px 27px;
			text-decoration: none;
		}
		.header-heat .search{
			width: 420px;
			display: block;
			margin-left: 420px;
			
		}
		.header-heat .branding{
			width: 300px;
		}
		
		.branding img{
			width: 50px;
			height: 50px;
		}
		.branding span{
			margin-top: -900px;
		}
		.dn a:hover{
			background: black;
		}
		.dn{
			display: none;
			position: absolute;
			color: white;
			padding: 12px 16px;
			text-decoration: none;
			background-color: #202c3c;
			box-shadow: 0px 8px 16px 0px black;
			width: 190px;
    		height: 85px;
    		padding: 16px;
    		margin-top: 20px;

		}
		.dn a{
			width: 152px;
			color: white;
			padding: 12px 16px;
			text-decoration: none;
			display: inline-block;
			text-align: left;

		}
		.head_nav{
			text-align: center;
			width: 1527px;
			margin-left: -29px;
		}
		#nav .sub_nav{
		position: absolute;
	    top: 100%;
	    left: 0;
	    visibility: hidden;
	     opacity: 0;
		 width: 240px;
		 padding: 20px;
		}
		#nav ul li{
		display: inline-block;
	  /*  width: 166px;*/
	         width: 183px;
	    text-align: center;
	    margin-top: 10px;
		}
		.sub_nav{
			background: white;
		}
		li a:hover, .dropdown:hover .dropbtn:hover{
			background-color: black;
			color: white;
		}
		li .dropdown{
			display: inline-block;
		}
		.dropdown-content{
			display: none;
			position: absolute;
			background-color: #3C3635;
			width: 500px;
			min-width: 500px;
			box-shadow: 0px 8px 16px 0px black;
			z-index: 1;
		}
		.dropdown-content a{
			width: 162px;
			color: white;
			padding: 12px 16px;
			text-decoration: none;
			display: inline-block;
			text-align: left;
		}
		.dropdown-content a:hover{
			background-color: #154c79;
			color: white;
		}

		.dropdown:hover .dropdown-content{
			display: block;
		}
		.search input[type="text"] {
	      width: 410px;
	      box-sizing: border-box;
	      border: 1px solid black;
	      border-radius: 4px;
	      outline:none;
	      margin-top: -39px;
	     position: absolute;
  		 }
		.search button {
		  float: right;
   			 padding: 5px 10px;
	    margin-right: 16px;
	    font-size: 7px;
	    border: none;
	    cursor: pointer;
	    position: relative;
	        top: -36px;
		}
		.header-button{
		margin-left: 1040px;
  		 margin-top: -53px;
		}
		.language{
			border: 1px solid black;
	    border-radius: 5px;
	    width: 160px;
	    height: 44px;
	    background: #2596be;
		}
		/* .language:hover{
			background: #154c79;
		} */
		.sign{
		float: right;
		margin-right: 99px;
		margin-top: -72px;
}
		/* .sign:hover{
			background: #154c79;
		} */
		.auth-form{
			border-radius: 5px;
			border: 1px solid white;
			position: absolute;
			left: 50%;
		    width: 650px;
			top: 33%;
			transform: translate(-50%,-17%);
			background: white;
			height: 540px;
			z-index: 9999;
			visibility: hidden;
			opacity: 0;
		}
		.hien{
			visibility: visible;
			opacity: 1;
		}
		.boddy{
			visibility: visible;
		}
		.daux{
			cursor: pointer;
			color: red;
			font-size: 20px;
  			margin-left: 633px;

		}
		.auth-form__header{
			    text-align: center;
		/* 	display: flex;
			align-items: center;
			justify-content: space-between; */
		}
		
		.auth-form__heading{
			font-size: 2.2rem;
			font-weight: 400;
			color: var(--text-color);

		}
		.auth-form__switch-btn{
			font-size: 1.6rem;
			font-weight: 400;
			color: var(--primary-color);
			cursor: pointer;
		}
		.auth-form__input{
			border: none;
			border-bottom: 1px solid gray;
		}
		.auth-form__policy-link{
			color: black;
			margin-left:50px;
		}
		.auth-form__socials{
			text-align: center;
		}
		.inten_dki{
			text-align: center;
			   margin-top: 20px;
		}
		.header-button button{
			width: 170px;
   			height: 50px;
			border: 1px solid black;
			border-radius: 10px;
			background: #244464;
		}
		button .btn_btn :hover{
			background: purple;
		}
		.header-button :hover{
			background:white;
		}
		 @media screen and (max-width: 600px)
		  {
		 .search{
		    float: none;
		  }
		}
